
{% extends 'UserBundle:Default:base.html.twig' %}
{% block content %}

    <section id="mainForm" class="clearfix" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ Label("Ödeme İsteği") }}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        {% if(setting.MinimumPayment > user.Balance) %}
            {{ Label("Minimum Payment") }}  {{ setting.MinimumPayment }} <br/>
            {{ Label("User Current Balance") }}{{ user.Balance }}


        {% else %}
        <div class="alert alert-success" style="display: none">
            <strong>  {{ Label("Ödeme bildiriminizi aldık, ödeme en kısa zamanda hesabınıza geçicektir") }}</strong>
        </div>

        <div class="alert alert-danger" style="display: none">
            <strong>  {{ Label("Hata oluştu tekrar deneyiniz") }}</strong>
        </div>
        <div class="row">

            <form id="get-payment" method="post" role="form" >
            <div class="col-lg-12">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        {{ Label("Ödeme Bilgileri") }}
                    </div>
                    <div class="panel-body">
                        {{ Label("Ad-Soyad") }} :{{ user.Name }} {{ user.SurName }}</br>
                        {{ Label("Banka") }} : {{ user.PaymentInfo }}</br>
                        {{ Label("Email") }} : {{ user.Email }} Telefon Numarası:{{ user.PhoneNumber }}

                    </div>
                    <div class="panel-footer">
                        {{ Label("Bakiye") }} : {{ user.Balance }} TL
                    </div>
                </div>
            </div>


               <div class="col-sm-6 col-sm-offset-3">
                   <input type="submit" class="btn btn-primary btn-lg" name="get-payment-submit" id="get-payment-submit" tabindex="4" class="form-control btn btn-register" value="  {{ Label("Ödeme Al") }}">
               </div>
           </form>
            </div>

        {% endif %}


    </div>
    </section>

{% endblock %}


{% block javascript %}
    <script>
        var Forms={
            Link:{
                Self:$('#get-payment'),
                Bind:function () {
                    Forms.Link.Self.on('submit',function (e) {
                        e.preventDefault();
                        $.post('{{ url('user_ajax_get_payment') }}',$(this).serialize(),function (result) {
                            if(result.success)
                            {
                                setTimeout(function () {
                                    location.reload();
                                },1000);
                                $('.alert-success').slideDown();
                            }else {
                                $('.alert-danger').slideDown();
                            }
                        })
                    })
                }
            },

            Bind:function () {
                Forms.Link.Bind();
            }
        }

        $(document).ready(function () {
            Forms.Bind();

        });


    </script>
{% endblock %}