
{% extends 'UserBundle:Default:base.html.twig' %}
{% block content %}

    <section id="mainForm" class="clearfix" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> {{ Label("Ödeme") }} </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="alert alert-success" style="display: none">
            <strong>  {{ Label("Ödeme bildiriminizi aldık, ödeme en kısa zamanda hesabınıza geçicektir") }} </strong>
        </div>

        <div class="alert alert-danger" style="display: none">
            <strong>  {{ Label("Hata oluştu tekrar deneyiniz") }}</strong>
        </div>
        <div class="row">

            <form id="set-payment" method="post" role="form" >
            <div class="col-lg-12">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        {{ Label("Ödeme Bilgileri") }}
                    </div>
                    <div class="panel-body">
                        {{ setting.PaymentInfo| raw }}
                    </div>
                        <div class="row" style="padding: 10px">
                    <div class="col-lg-8">
                    <label> {{ Label("Ödeme Yaptığınız Miktar") }}</label>
                    <input type="text" data-validation-error-msg=" {{ Label("Lütfen sayı giriniz") }}"  data-validation="number" name="balance" id="balance" tabindex="12" class="form-control" placeholder=" {{ Label("Ödeme Miktarı") }}">
                        <br/>
                        <label> {{ Label("Ödeme Yaptığınız Banka") }}:</label>
                    <select class="form-control select" name="bank">
                        {% for bank in setting.PaymentBanks|split(',') %}
                            <option>{{ bank }}</option>
                        {% endfor %}
                    </select>
                        </div>
                        </div>
                    <div class="panel-footer">
                        {{ Label("Bakiye") }} : {{ user.Balance }} TL
                    </div>
                </div>
            </div>


                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" class="btn btn-primary btn-lg" name="get-payment-submit" id="set-payment-submit" tabindex="4" class="form-control btn btn-register" value="{{ Label("Bakiye Yükle") }}">
                </div>
            </form>
        </div>
    </div>
</div>
    </section>
{% endblock %}


{% block javascript %}
    <script>
        var Forms={
            Link:{
                Self:$('#set-payment'),
                Bind:function () {
                    Forms.Link.Self.on('submit',function (e) {
                        e.preventDefault();
                        $.post('{{ url('user_ajax_set_payment') }}',$(this).serialize(),function (result) {
                            if(result.success)
                            {
                                setTimeout(function () {
                                    location.reload();
                                },1000);
                                $('.alert-success').slideDown();
                            }else {
                                $('.alert-danger').slideDown();
                            }
                        })
                    })
                }
            },

            Bind:function () {
                Forms.Link.Bind();
            }
        }

        $(document).ready(function () {
            $.validate({
                validateOnBlur : false,
                errorMessagePosition : 'top',
                scrollToTopOnError : false
            });
            Forms.Bind();

        });


    </script>
{% endblock %}