{% extends 'UserBundle:Default:base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('static/css/login.css') }}"/>
{% endblock %}
{% block login %}



    <section id="mainForm" class="clearfix">
        <div class="container">
            <ul class="nav nav-tabs text-center" role="tablist">
                <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab" aria-expanded="true">{{ Label("LOGIN") }}</a></li>
                <li role="presentation" class=""><a href="#join" aria-controls="join" role="tab" data-toggle="tab" aria-expanded="false">{{ Label("JOIN") }}</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="login">

                    <form id="login-form" method="post" role="form" >
                        <div class="form-group">
                            <label for="email">{{ Label("login form E-mail") }}</label>
                            <input  data-validation="email"  data-validation-error-msg="{{ Label("Enter valid information") }}" type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" value="">
                        </div>
                        <div class="form-group">
                            <label for="password">{{ Label("login form Password") }}</label>
                            <input  data-validation="required" type="password" name="password" id="password" tabindex="2" class="form-control"">
                        </div>


                        <div class="text-center">
                            <button name="login-submit" id="login-submit"  type="submit" class="btn btn-login">{{ Label("LOGIN") }}</button>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="join">

                    <form id="register-form"  method="post" role="form">
                        <div class="row">

                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="name">{{ Label("Name") }}</label>
                                    <input  data-validation="required" type="text" name="name" data-validation-error-msg="{{ Label("Enter valid information") }}" id="name" tabindex="1" class="form-control" placeholder="İsim" value="">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="email">{{ Label("Surname") }}</label>
                                    <input  data-validation="required" type="text" name="surname" data-validation-error-msg="{{ Label("Enter valid information") }}" id="surname" tabindex="1" class="form-control" placeholder="Soyisim" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="email"{{ Label("E-mail") }}></label>
                                    <input  data-validation="email"  data-validation-error-msg="{{ Label("Enter valid information") }}" type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" value="">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="name">{{ Label("Password") }}</label>
                                    <input  data-validation="required" type="password" name="password"  data-validation-error-msg="{{ Label("Enter valid information") }}" id="password" tabindex="3" class="form-control" placeholder="Şifre">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="email">{{ Label("Password") }}</label>
                                    <input  data-validation="required" data-validation-error-msg="{{ Label("Enter valid information") }}" type="text" name="address1" id="address1" tabindex="4" class="form-control" placeholder="Adres">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="name">{{ Label("Adress More") }}</label>
                                    <input type="text" name="address2" id="address2" tabindex="5" class="form-control" placeholder="Adres">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="email">{{ Label("City") }}</label>
                                    <input  data-validation="required" data-validation-error-msg="{{ Label("Enter valid information") }}" type="text" name="city" id="city" tabindex="6" class="form-control" placeholder="Şehir">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="name">{{ Label("Country") }}</label>
                                    <input  data-validation="required" type="text" name="country" data-validation-error-msg="{{ Label("Enter valid information") }}" id="country" tabindex="7" class="form-control" placeholder="Ülke">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="zipcode">{{ Label("Zip Code") }}</label>
                                    <input type="text" name="zip_code" id="zip_code" tabindex="8" class="form-control" placeholder="Posta Kodu">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="email">{{ Label("Telefon Numarası") }}</label>
                                    <input  data-validation="number" data-validation-error-msg="{{ Label("Enter valid information") }}" type="text" name="phone_number" id="phone_number" tabindex="9" class="form-control" placeholder="Telefon Numarası">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="acount">{{ Label("Hesap Tipi") }}</label>
                                    <select class="form-control" name="account_type">
                                        <option value="personel">{{ Label("Şirket") }}</option>
                                        <option value="corporate">{{ Label("Şahıs") }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="payment">{{ Label("Ödeme Tipi") }}</label>
                                    <select class="form-control" name="payment_type">
                                        <option value="paypal">{{ Label("Paypal") }}</option>
                                        <option value="bank">{{ Label("Banka") }}</option>
                                    </select>
                                </div>
                        </div>

                                <div class="form-group">
                                    <label for="name">{{ Label("Ödeme Bilgisi") }}</label>
                                    <input  data-validation="required" data-validation-error-msg="{{ Label("Enter valid information") }}" type="payment_info" name="payment_info" id="payment_info" tabindex="12" class="form-control" placeholder="Ödeme Bilgisi">
                                </div>


                        <div class="text-center">
                            <button type="submit"  name="register-submit" id="register-submit" class="btn btn-register">{{ Label("REGISTER") }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block javascript %}
    <script>
        var Forms={
            Login:{
                Self:$('#login-form'),
                Field:{
                    Email:$('#login-form input[name ="email"]'),
                    Password:$('#login-form input[name ="password"]')

                } ,
                Bind:function () {
                    Forms.Login.Self.on('submit',function (e) {
                        e.preventDefault();
                        $.post('{{ url('user_ajax_login') }}',$(this).serialize(),function (result) {
                            if(result.success)
                            {
                                location.href="/user";
                            }else {

                                $('.login-alert strong').text(result.message);
                                $('.login-alert').slideDown();
                                setTimeout(function () {
                                    $('.login-alert').slideUp();
                                },2000)
                            }
                        })
                    })
                }
            },

            Add:{
                Self:$('#register-form'),
                Field:{
                    Email           :$('#register-form input[name ="email"]'),
                    Password        :$('#register-form input[name ="password"]'),
                    UserType        :$('#register-form input[name ="user_type"]'),
                    Name            :$('#register-form input[name ="name"]'),
                    SurName         :$('#register-form input[name ="surname"]'),
                    Address1        :$('#register-form input[name ="address1"]'),
                    Address2        :$('#register-form input[name ="address1"]'),
                    City            :$('#register-form input[name ="city"]'),
                    Country         :$('#register-form input[name ="country"]'),
                    ZipCode         :$('#register-form input[name ="zip_code"]'),
                    PhoneNumber     :$('#register-form input[name ="phone_number"]'),
                    AccountType     :$('#register-form select[name ="account_type"]'),
                    PaymentType     :$('#register-form select[name ="payment_type"]'),
                    PaymentInfo     :$('#register-form input[name ="payment_info"]')

                } ,
                Values :function () {
                    return{
                        Email           :Forms.Add.Field.Email.val(),
                        Password        :Forms.Add.Field.Password.val(),
                        UserType        :Forms.Add.Field.UserType.val(),
                        Name            :Forms.Add.Field.Name.val(),
                        SurName         :Forms.Add.Field.SurName.val(),
                        Address1        :Forms.Add.Field.Address1.val(),
                        Address2        :Forms.Add.Field.Address2.val(),
                        City            :Forms.Add.Field.City.val(),
                        Country         :Forms.Add.Field.Country.val(),
                        ZipCode         :Forms.Add.Field.ZipCode.val(),
                        PhoneNumber     :Forms.Add.Field.PhoneNumber.val(),
                        AccountType     :Forms.Add.Field.AccountType.val(),
                        PaymentType     :Forms.Add.Field.PaymentType.val(),
                        PaymentInfo     :Forms.Add.Field.PaymentInfo.val()
                    }
                },
                Bind:function () {
                    Forms.Add.Self.on('submit',function (e) {
                        e.preventDefault();
                        $.post('{{ url('user_ajax_register') }}',Forms.Add.Values(),function (result) {
                            if(result.success)
                            {
                                setTimeout(function () {
                                    $('#login-form-link').trigger('click');
                                    $('.alert-success').slideUp()
                                },1000)
                                $('.alert-success').slideDown()

                            }else {
                                setTimeout(function () {
                                    $('.register-alert').slideUp()
                                },1000)
                                $('.register-alert').slideDown();
                            }
                        })
                    })
                }
            },
            Bind:function () {
                    Forms.Add.Bind();
                    Forms.Login.Bind();
            }
        }

        $(document).ready(function () {
            $.validate({
                validateOnBlur : false,
                errorMessagePosition : 'top',
                scrollToTopOnError : false
            });
            Forms.Bind();

        });
        $(function() {

            $('#login-form-link').click(function(e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
            $('#register-form-link').click(function(e) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });

        });

    </script>
{% endblock %}
