{% extends 'UserBundle:Default:base.html.twig' %}

{% block content %}
<section id="mainForm" class="clearfix" xmlns="http://www.w3.org/1999/html">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ Label("Ayarlar") }}</h1>

        </div>
        <!-- /.col-lg-12 -->
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" style="display: none">
                    <strong>{{ Label("Düzenleme Yapıldı") }}</strong>
                </div>

                <div class="alert register-alert alert-danger" style="display: none"><strong> {{ Label("Düzenleme Yapılamadı") }}</strong></div>

                        <div class="row">
                            <div class="col-lg-12">
                                <form id="update-form"  method="post" role="form">
                                    <div class="form-group">
                                        <input  data-validation="email"  data-validation-error-msg="{{ Label("Enter valid information") }}" type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="{{ Label("Email") }}" value="{{ user.Email }}">
                                    </div>

                                    <div class="form-group">
                                        <input  data-validation="required" type="text" name="name" data-validation-error-msg="{{ Label("Enter valid information") }}" id="name" tabindex="1" class="form-control" placeholder="{{ Label("İsim") }}" value="{{ user.Name }}">
                                    </div>
                                    <div class="form-group">
                                        <input  data-validation="required" type="text" name="surname" data-validation-error-msg="{{ Label("Enter valid information") }}" id="surname" tabindex="1" class="form-control" placeholder="{{ Label("Soyisim") }}" value="{{ user.SurName }}">
                                    </div>
                                    <div class="form-group">
                                        <input  data-validation="required" type="password" name="password"  data-validation-error-msg="{{ Label("Enter valid information") }}" id="password" tabindex="3" class="form-control" placeholder="{{ Label("Şifre") }}" value="{{ user.Password }}">
                                    </div>

                                    <div class="form-group">
                                        <input  data-validation="required" data-validation-error-msg="{{ Label("Enter valid information") }}" type="text" name="address1" id="address1" tabindex="4" class="form-control" placeholder="{{ Label("Adres") }}" value="{{ user.Address1 }}">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="address2" id="address2" tabindex="5" class="form-control" placeholder="{{ Label("Adres") }}" value="{{ user.Address2 }}">
                                    </div>
                                    <div class="form-group">
                                        <input  data-validation="required" data-validation-error-msg="{{ Label("Enter valid information") }}" type="text" name="city" id="city" tabindex="6" class="form-control" placeholder="{{ Label("Şehir") }}" value="{{ user.City }}">
                                    </div>
                                    <div class="form-group">
                                        <input  data-validation="required" type="text" name="country" data-validation-error-msg="{{ Label("Enter valid information") }}" id="country" tabindex="7" class="form-control" placeholder="{{ Label("Ülke") }}" value="{{ user.Country }}">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="zip_code" id="zip_code" tabindex="8" class="form-control" placeholder="{{ Label("Posta Kodu") }}" value="{{ user.ZipCode }}">
                                    </div>
                                    <div class="form-group">
                                        <input  data-validation="number" data-validation-error-msg="{{ Label("Enter valid information") }}" type="text" name="phone_number" id="phone_number" tabindex="9" class="form-control" placeholder="{{ Label("Telefon Numarası") }}" value="{{ user.PhoneNumber }}">
                                    </div>

                                    <div class="form-group">
                                        {{ Label("Ödeme Tipi") }}:
                                        <select class="form-control" name="payment_type">
                                            <option value="paypal">{{ Label("Paypal") }}</option>
                                            <option value="bank">{{ Label("Banka") }}</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <input  data-validation="required" data-validation-error-msg="{{ Label("Enter valid information") }}" type="payment_info" name="payment_info" id="payment_info" tabindex="12" class="form-control" placeholder="{{ Label("Ödeme Bilgisi") }}" value="{{ user.PaymentInfo }}">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="update-submit" id="register-submit" tabindex="4" class="form-control btn btn-primary" value="{{ Label("Düzenle") }}">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
            </div>
        </div>
</div>
</section>
{% endblock %}


{% block javascript %}
    <script>
        var Forms={
            Add:{
                Self:$('#update-form'),
                Field:{
                    Email           :$('#update-form input[name ="email"]'),
                    Password        :$('#update-form input[name ="password"]'),
                    UserType        :$('#update-form input[name ="user_type"]'),
                    Name            :$('#update-form input[name ="name"]'),
                    SurName         :$('#update-form input[name ="surname"]'),
                    Address1        :$('#update-form input[name ="address1"]'),
                    Address2        :$('#update-form input[name ="address1"]'),
                    City            :$('#update-form input[name ="city"]'),
                    Country         :$('#update-form input[name ="country"]'),
                    ZipCode         :$('#update-form input[name ="zip_code"]'),
                    PhoneNumber     :$('#update-form input[name ="phone_number"]'),
                    AccountType     :$('#update-form select[name ="account_type"]'),
                    PaymentType     :$('#update-form select[name ="payment_type"]'),
                    PaymentInfo     :$('#update-form input[name ="payment_info"]')

                } ,
                Values :function () {
                    return{
                        Email           :Forms.Add.Field.Email.val(),
                        Password        :Forms.Add.Field.Password.val(),
                        UserType        :Forms.Add.Field.UserType.val(),
                        Name            :Forms.Add.Field.Name.val(),
                        SurName         :Forms.Add.Field.SurName.val(),
                        Address1        :Forms.Add.Field.Address1.val(),
                        Address2        :Forms.Add.Field.Address2.val(),
                        City            :Forms.Add.Field.City.val(),
                        Country         :Forms.Add.Field.Country.val(),
                        ZipCode         :Forms.Add.Field.ZipCode.val(),
                        PhoneNumber     :Forms.Add.Field.PhoneNumber.val(),
                        AccountType     :Forms.Add.Field.AccountType.val(),
                        PaymentType     :Forms.Add.Field.PaymentType.val(),
                        PaymentInfo     :Forms.Add.Field.PaymentInfo.val()
                    }
                },
                Bind:function () {
                    Forms.Add.Self.on('submit',function (e) {
                        e.preventDefault();
                        $.post('{{ url('user_ajax_update') }}',Forms.Add.Values(),function (result) {
                            if(result.success)
                            {
                                setTimeout(function () {
                                    $('.alert-success').slideUp()
                                },2000)
                                $('.alert-success').slideDown()
                                $( "body" ).scrollTop(0);

                            }else {
                                setTimeout(function () {
                                    $('.register-alert').slideUp()
                                },1000)
                                $('.register-alert').slideDown();
                                $( "body" ).scrollTop(0);
                            }
                        })
                    })
                }
            },
            Bind:function () {
                Forms.Add.Bind();
            }
        }

        $(document).ready(function () {
            $.validate({
                validateOnBlur : false,
                errorMessagePosition : 'top',
                scrollToTopOnError : false
            });
            Forms.Bind();

        });


    </script>
{% endblock %}
