<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/HTML; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>adult.tl</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:100,200,300,400,500,600,700,800,900&amp;subset=latin-ext" rel="stylesheet">
    <link href="{{ asset('static/css/bootstrap.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset('static/js/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">

    <link href="{{ asset('static/js/slick-1.6.0/slick/slick-theme.css') }}" rel="stylesheet">

    <link href="{{ asset('static/js/slick-1.6.0/slick/slick.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('static/css/main.css') }}" rel="stylesheet">

</head>
<body>
<header class="clearfix">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <div class="flags pull-right">
                    <a href="/home/tr" class="active"><img src="{{ asset('static/img/flags/turkey.png') }}" /></a>
                    <a href="/home/de"><img src="{{ asset('static/img/flags/germany.png') }}" /></a>
                    <a href="/home/fr"><img src="{{ asset('static/img/flags/france.png') }}" /></a>
                    <a href="/home/es"><img src="{{ asset('static/img/flags/spain.png') }}" /></a>
                    <a href="/home/en"><img src="{{ asset('static/img/flags/unitedkingdom.png') }}" /></a>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{{ asset('static/img/logo.png') }}" class="img-responsive" /></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url('user') }}">{{ Label("LOGIN") }}</a></li>
                    <li><a href="{{ url('user') }}">{{ Label("SIGN UP") }}</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="textSlider text-center">
                    <div class="item">
                        {{ Label("SLIDER ITEM1") }}
                    </div>
                    <div class="item">
                        {{ Label("SLIDER ITEM2") }}
                    </div>
                    <div class="item">
                        {{ Label("SLIDER ITEM3") }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">

                <div class="alert alert-success link-add" style="display: none">
                    <strong> </strong>
                </div>

                <div class="alert alert-danger" style="display: none"><strong>{{ Label("Error") }}</strong></div>
                <form class="form-inline link-form" id="link-form"  method="post" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="{{ Label("Shorten URL and get paid") }}" data-validation="url"  data-validation-error-msg="{{ Label("Enter valid information") }}" name="url" id="url" tabindex="1">
                    </div>
                    <input type="submit" class="btn pull-right"  value="{{ Label("SHRINK") }}">
                </form>



            </div>
        </div>

        <div class="sliderDots"></div>
    </div>
</header>
    {% block content %}
    {% endblock %}
<footer class="clearfix">
    <div class="container">
        <div class="text-center">
            <img src="{{ asset('static/img/logo.png') }}" class="img-responsive" />
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="alert alert-success link-add" style="display: none">
                    <strong> </strong>
                </div>

                <div class="alert alert-danger" style="display: none"><strong>{{ Label("Error") }}</strong></div>
                <form class="form-inline link-form" id="link-form"  method="post" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="{{ Label("Shorten URL and get paid") }}" data-validation="url"  data-validation-error-msg="{{ Label("Enter valid information") }}" name="url" id="url" tabindex="1">
                    </div>
                    <input type="submit" class="btn pull-right"  value="{{ Label("SHRINK") }}">
                </form>
            </div>
        </div>
        <div class="copyText">
            <div class="col-xs-6">
                <div class="row">
                    © 2016 ADULT.tl - All Rights Reserved
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <div class="row">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>



<script type="text/javascript" src="{{ asset('static/js/jquery-3.1.1.min.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('static/js/bootstrap.min.js') }}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ asset('static/js/slick-1.6.0/slick/slick.min.js') }}"></script>

<!-- Morris Charts JavaScript -->
<script src="{{ asset('static/js/main.js') }}"></script>
{% block javascript %}

{% endblock %}
<script>
    var Forms={
        Link:{
            Self:$('.link-form'),
            Field:{
                Url:$('#login-form input[name ="url"]')

            } ,
            Bind:function () {
                Forms.Link.Self.on('submit',function (e) {
                    e.preventDefault();
                    $.post('{{ url('ajax_url_add') }}',$(this).serialize(),function (result) {
                        if(result.success)
                        {
                            $(".link-add strong").html("<a href='127.0.0.1:8000"+result.link.Url+"'>127.0.0.1:8000/"+result.link.Url+"</a>")
                            $('.alert-success').slideDown();

                        }else {
                            $('.alert-danger').slideDown();
                        }
                    })
                    return false;
                })
            }
        },

        Bind:function () {
            Forms.Link.Bind();
        }
    }

    $(document).ready(function () {

        Forms.Bind();

    });



</script>
</body>
</html>